* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    margin: 10px;
    border: 1px solid #9758A6;
    display: flex;
    flex-direction: column 
}

.block {
    width: 100px;
    height: 100px;
    background-color: #CDD728;
    border: 5px solid #9758A6;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

/*  flex-direction: 
        column => deixa os itens em colunas;
        column-reverse => inverte a coluna fazendo ela ficar de trás para frente;
        row => deixa os itens em linha;
        row-reverse => inverte a linha começando de trás para frente;
*/
   