* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    margin: 10px;
    border: 1px solid #9758A6;
    display: flex;    
    width: 300px;
    flex-flow: row-reverse wrap;
}

.block {
    width: 100px;
    height: 100px;
    background-color: #CDD728;
    border: 5px solid #9758A6;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

/*  flex-flow:         
        posso usar todos os comandos do FLEX-DIRECTION e FLEX-WRAP
        
        
*/
   